*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.people__box{
    width: 235px;
    height: 300px;
    border: 1px solid;
}
.img__people{
    width: 235px;
    height: 235px;
}
.name{
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px;
}
.information{
    font-size: .9em;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    display: block;
    margin-top: 0;
    margin: 0;
    padding: 0;
    width: 255px;
    padding-left: 10px;
}