.movie-list{
    margin-top: 30px;
    width: 1400px;
    height: 353px;
    display: flex;
    align-items: top;
    overflow-x: auto;
    transition: 0.3s ease-in;
}
.selected{
    cursor: pointer;
    display: flex;
}

.selected-tv {
    cursor: pointer;
    display: flex;
}

.not__selected{
    display: none;

}
.switch_big{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
       
        font-size: 24px;
        font-family: "Source Sans Pro";
    }
}

.switch_big2 {
    width: 400px;
    position: relative;
    top: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
       
        font-size: 24px;
        font-family: "Source Sans Pro";
    }
}


.content{
    width: 170px;
    height: 300px;
    padding-left: 20px;
    margin-right: 0px;
    position: relative;
  flex-shrink:0 ;

    &__text{
        width: 150px;
        height: 80px;
        position: absolute;
        top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
        padding-left: 10px;
        
        p{
            position: absolute;
            top: 15px;
            font-size: 16px;
            font-family: "Source Sans Pro";
        }
        span{
            position: absolute;
            font-size: 16px;
            top: 55px   ;

            color: #00000099;
            font-family: "Source Sans Pro";
        }
    }
}
.icon{
    text-decoration: none;
    width: 26px;
    height: 26px;
    top: 1%;
    left: 80%;
    color: rgba(255, 255, 255, 0.298);

    // background-image: url("https://static-00.iconduck.com/assets.00/ellipsis-circle-icon-512x512-p4ocez5q.png");
    background-size: 26px 26px;
    background-color: rgb(180, 225, 251);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    z-index: 100  ;
    &:hover{
    background-color: rgb(132, 208, 255);

    }   
}

.content__poster{
    border-radius: 10px;
    position: absolute;
    z-index: 10;
}
.switch{
    border: 1px solid;
    width: 246px;
    height: 29px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    a{
            cursor: pointer;
        
        text-decoration: none;
        font-size: 16px;
        font-family: "Source Sans Pro";
        position: relative;
        z-index: 10;
    }
    .no__click{
        color: black;
        transition: 0.5s linear;
    }
    .click{
        background: #C3FF00;
        background: linear-gradient(to right, #C3FF00 0%, #0DEFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s linear;
    }
}
.switch::after{
    content: "";
    left: 0px;
    width: 110px;
    height: 29px;
    position: absolute;
    background-color: rgba(10, 10, 103, 0.889);
    border-radius: 15px;
    transition: 0.2s linear ;

}
.active::after{
    content: "";
    width: 127px;
    height: 29px;
    position: absolute;
    left: 119px;
    transition: 0.2s linear ;
}


.functions{
    cursor: pointer;
    width: 207px;
    height: 171px;
    position: absolute;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: space-between;
    flex-direction: column;
    display: none;  
    top: 35px;
    z-index: 100;
    background-color: #fff !important;
}


.function{
    width: 207px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 18px;
    a{
        position: absolute;
        margin-left: 20px;
        text-decoration: none;
        font: 14.4px "Source Sans Pro";
        color: black;
    }
}
.function:hover{
    background-color: darkslateblue;
    a{
        color: white;
    }

}
.function:nth-child(1):hover{
    border-radius:  8% 8% 100% 0% / 50% 50% 0% 0%  ;

}
.function:nth-child(2):hover{
    border-radius: 0px;
}
.function:nth-child(3):hover{
    border-radius: 0px;
}
.function:nth-child(4):hover{
    border-radius:  100% 0% 8% 8% / 0% 0% 50% 50% ;
    background-color: darkslateblue;

}
.tools_on{
    filter: blur(5px);
}
.on{
    display: flex;
}



.circle-progressbar {
    position: relative;
    position: absolute;
    top: 68%;
    left: 17%;
    z-index: 11;
    @keyframes growProgressBar {
      0%,
      33% {
        --pgPercentage: 0;
      }
      100% {
        --pgPercentage: var(--value);
      }
    }
    @property --pgPercentage {
      syntax: "<number>";
      inherits: false;
      initial-value: 0;
    }

    div[role="progressbar"] {
      --size: 34px;
      --bg: #081c22;
      --fg: rgba(20, 193, 20, 0.757);
      --pgPercentage: var(--value);
      animation: growProgressBar 3s 1 forwards;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: radial-gradient(
          closest-side,
          #081c22 80%,
          transparent 0 99.9%,
          white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
      font-family: Helvetica, Arial, sans-serif;
      font-size: calc(var(--size) / 3.5);
      color: white;
    }

    div[role="progressbar"]::before {
      counter-reset: percentage var(--value);
      content: counter(percentage) "%";
    }
  }
.black{
    color: black;
}
.red{
    color: red;
}
