.actor_movie_simple{
    width: 890px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    &_h3{
        font-size: 20px;
        margin-bottom: 8px;
        font-family: "Source Sans Pro";
    }
    &_list{
        width: 880px;
        height: 280px;
        display: flex;
     
        overflow-x: auto;
        flex-wrap: nowrap;
        &_item{
            width: 130px;
            height: 235px;
            margin-right: 30px;
            &_title{
                width: 130px;
                height: 20px;
                margin-left: 10px;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}